@import "../components/animations/animations.css";
@import "../components/mainCanvas/mainCanvas.css";

@import "../components/frames/frames.css";
@import "../components/tools/tools.css";
@import "../components/tools/modalWindowTools.css";


.block {
    display: flex;
}

.canvas-block {
    margin-left: 40px;
    flex: 0 0 400px;
}


/* .el1, .el2, .el3, .el4, .el5, .el6, .el7, .el8, .el9 {
    flex: 0 0 auto;

    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 1px solid black;
} */


.big-block {
    display: flex;

    background-color: yellow;

    align-items: stretch;
}
